/*Carousel Gallery*/
.carousel-gallery{
	margin: 50px 0;
  padding: 0 30px;
	.swiper-slide{
		a{
			display: block;
			width: 100%;
			height: 200px;
			border-radius: 4px;
			overflow: hidden;
			position: relative;

			-webkit-box-shadow: 3px 2px 20px 0px rgba(0,0,0, .2);
      -moz-box-shadow: 3px 2px 20px 0px rgba(0,0,0, .2);
      box-shadow: 3px 2px 20px 0px rgba(0,0,0, .2);

			&:hover{
				.image{
					.overlay{opacity: 1}
				}
			}

			.image{
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center center;
				.overlay{
					width: 100%;
					height: 100%;
					background-color: rgba(20,20,20, .8);
					text-align: center;
					opacity: 0;
					
					-webkit-transition: all .2s linear; 
          -o-transition: all .2s linear; 
          transition: all .2s linear;

					em{
						color: #fff;
						font-size: 26px;
						position: relative;
            top: 50%; 
            -webkit-transform: translateY(-50%); 
            -ms-transform: translateY(-50%); 
            -o-transform: translateY(-50%); 
            transform: translateY(-50%);
            display: inline-block;
					}
				}
			}
		}
	}
	
	a {
    box-shadow: unset !important;
}